{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ block.super }} list{% endblock title %}
{% block content %}
  <h1>{% trans "Listings" %}</h1>
  <ul>
    {% for listing in listing_list %}
    <li><a href="{% url "listing_available" listing.pk %}">
        {% if listing.is_available %}&#x2611;{% else %}&#x2610;{% endif %}</a>
        <a href="{% url "listing_detail" listing.pk %}">{{ listing.name }}</a>
        <span style="float:right;">{{ listing.price }}</span>
    </li>
    {% empty %}
      <li>{% trans "No listings found" %}</li>
    {% endfor %}
  </ul>
  <a class="button" href="{% url 'listing_create' %}">
    {% trans "Create new"|capfirst %}
  </a>
{% endblock content %}
