{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "deleting"|capfirst %} {{ listing.name }} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "deleting listing"|capfirst %} {{ listing.name }}</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        {% trans "are you sure you want to delete listing" %}
        {{ listing.name }}? 
        {% trans "listing will be deleted permamently" %}.
    </p>
    <p>
        <button type="submit">{% trans "confirm"|capfirst %}</button>
        <a class="button" href="{% url "listing_detail" listing.pk %}">{% trans "cancel"|capfirst %}</a>
    </p>
</form>
{% endblock content %}
