body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0; padding: 0;
    min-height: 100vh;
}

header {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block: 0.5rem;
    padding-inline: 0;
    gap: 10px;
}

main {
    flex-grow: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px 25%;
}

footer {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.language-form {
    margin-left: auto;
}

footer p {
    color: #ffffff;
}

footer a {
    color: #66aaff;
}

footer a:hover {
    color: #77bbff;
}

section.messages {
    padding: 0;
    margin: 0;
}

.message {
    padding: 0.5rem;
    margin: 0;
    border-bottom: 1px solid #888888;
}

.message-debug {
    background-color: #aaaaaa;
}

.message-info {
    background-color: #99ccff;
}

.message-success {
    background-color: #ccff99;
}

.message-warning {
    background-color: #ffcc99;
}

.message-error {
    background-color: #ffaaaa;
}

a {
    color: #004488;
    text-decoration: none;
}

a:hover {
    color: #0055cc;
}

h1, h2, h3, h4, h5, h6 {
    background-color: #cccccc;
    border-bottom: 2px solid #888888;
    padding: 2%;
    border-radius: 10px;
}

h1:first-child, h2:first-child, h3:first-child, 
h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

p, main ul {
    padding: 0 0.5rem;
    margin: 1rem 0;
}

ul li {
    border-bottom: 1px solid #cccccc;
    list-style-type: none;
}

header ul.nav li a, header ul.nav li form button {
    background-color: #c4c4c4;
    display: flex;
    margin: 0;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #696969;
    cursor: pointer;
    color: #000000;
    font-size: 130%;
    border-radius: 15px;
}

header ul.nav li a:hover, header ul.nav li form button:hover {
    background-color: #b8b8b8;
    border-bottom: 2px solid #0055cc;
    color: #292929;
}

header form select {
    margin: 1rem;
    font-size: 100%;
}

button, .button {
    background-color: #d8d8d8;
    border: 1px solid #666666;
    border-bottom: 2px solid #004488;
    padding: 0.5rem;
    font-size: 120%;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: #dfdfdf;
    border-bottom: 2px solid #0055cc;
}

ul.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

ul.dashboard li {
    display: inline-block;
    border: 2px solid #999999;
    border-radius: 1rem;
}

ul.dashboard li h3 {
    border-radius: 1rem;
    text-align: center;
}

ul.dashboard li .stat {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #ffffff9f;
    border-radius: 5rem;
    min-width: 7rem;
}