{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{{ block.super }} {% trans "Main" %}{% endblock title %}
{% block content %}
<div class='main-page-content'>
    <!-- Rented Logo -->
    <img src="{% static 'icon.png' %}" alt="Rented Logo" class="logo">

    <!-- About Us -->
    <p>{% trans "Welcome to Rented, your go-to platform for item rental. We believe in making life more convenient by providing a platform where users can easily rent items they need for a short period, saving both money and resources." %}</p>

    <!-- Our Vision -->
    <p>{% trans "At Rented, we envision a world where sharing resources is a common practice, reducing waste and promoting a sustainable lifestyle. We strive to connect people and enable them to share items, fostering a sense of community and environmental responsibility." %}</p>
 
    <!-- Our Stats -->
    <p>{% trans "Listing count" %} {{ listing_count }}</p>
    <p>{% trans "User count" %} {{ users_count }}</p>
</div>
{% endblock content %}
