{% extends "base.html" %}
{% load i18n %} {% load static %}
{% block title %}{% trans "Main Page" %}{% endblock title %}
{% block content %}
    <h1>{% trans "Shop" %}</h1>
    {% for listing in listings %}
        <div class="listings-container">
            {% if listing.picture %}
            <a href="{% url 'listing_detail' pk=listing.pk %}">
                <img src="{{ listing.picture.url }}" alt="{{ listing.name }}" width="200" height="100" class="listing-image">
            </a>
            {% else %}
            <a href="{% url 'listing_detail' pk=listing.pk %}">
                <img src="{% static 'default-image.jpg' %}" alt="Default Image" width="200" height="100" class="listing-image">
            </a>
            {% endif %}
            <a href="{% url 'listing_detail' pk=listing.pk %}"><p>{{ listing.name }}</p></a>
            <p>{{ listing.price }} $ {% trans "per day" %}</p>
            <p>{% trans "Uploaded by" %}: <a href="{% url 'user_detail' username=listing.owner.username %}">{{ listing.owner.username }}</a></p>
            {% if listing.is_available %}&#x2611;{% else %}&#x2610;{% endif %}
        </div>
    {% endfor %}
{% endblock content %}