{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{{ block.super }} {% trans "Offers" %}{% endblock title %}
{% block content %}
  <h1>{% trans "Offers" %}</h1>

  <h2>{% trans "Incoming Offers" %}</h2>
  <ul>
    {% for offer in incoming_offers %}
    {% if offer.status == 'pending' %}
      <li>
        {% trans "From" %}: {{ offer.sender.username }}
        {% trans "Listing" %}: <a href="{% url 'listing_detail' pk=offer.listing.pk %}">{{ offer.listing.name }}</a>
        {% trans "Price" %}: {{ offer.price }}
        <a href="{% url 'offers:accept_offer' pk=offer.pk %}">{% trans "Accept" %}</a>
        <a href="{% url 'offers:reject_offer' pk=offer.pk %}">{% trans "Reject" %}</a>
      </li>
      {% endif %}
    {% empty %}
      <li>{% trans "No incoming offers" %}</li>
    {% endfor %}
  </ul>

  <h2>{% trans "Sent Offers" %}</h2>
  <ul>
    {% for offer in sent_offers %}
      <li>
        {% trans "To" %}: {{ offer.receiver.username }}
        {% trans "Listing" %}: <a href="{% url 'listing_detail' pk=offer.listing.pk %}">{{ offer.listing.name }}</a>
        {% trans "Price" %}: {{ offer.price }}
        {% trans "Status" %}: {{ offer.get_status_display }}
      </li>
    {% empty %}
      <li>{% trans "No sent offers" %}</li>
    {% endfor %}
  </ul>

  <h2>{% trans "Order History" %}</h2>
  <ul>
    {% for offer in incoming_offers %}
      {% if offer.status != 'pending' %}
        <li>
          {% trans "From" %}: {{ offer.sender.username }}
          {% trans "Listing" %}: <a href="{% url 'listing_detail' pk=offer.listing.pk %}">{{ offer.listing.name }}</a>
          {% trans "Price" %}: {{ offer.price }}
          {% trans "Status" %}: {{ offer.get_status_display }}
        </li>
      {% endif %}
    {% empty %}
      <li>{% trans "No order history" %}</li>
    {% endfor %}
  </ul>

  <a class="button" href="{% url 'offers:send_offer' %}">
    {% trans "Create Offer"|capfirst %}
  </a>
{% endblock content %}
